*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary-color: #06283D;
  --secondary-color: #1363DF;
  --another-color: #47B5FF;
  --text-color: #DFF6FF;
  font-family: 'Open Sans', sans-serif;
}
