/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.nabvar{
    height: 4rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 90%;
    margin: 0 auto;
    /* color: white; */
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 1.6rem;
    font-weight: 600;
}
.navButton{
    margin-left: 1rem;
    padding: 0.2rem 0.5rem;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
}